*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* realizar scroll suave na minha pagina html */
html{
    scroll-behavior: smooth;
}

/* configuração genericas que vai fazer conteudo  */
.container-grid {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/*estilo do header*/

.container-global-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-cabeçalho {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #F4F4F4;
}

header .links-menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header .links-menu ul li a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: black;
}

header .links-menu ul li a:hover {
    color: #8D1B3D;
} 

/*estilo do logo-fifa-word-cup*/
.logo-fifa-word-cup {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .logo-fifa-word-cup img {
    width: 70%;
    height: 70%;
}


/*estilo do banner */
.banner{
    /*background-image: url(/imagem/wallpaper.png);*/
    background: linear-gradient(to bottom, rgba(141, 27, 61, 1), rgba(141,0,0,0.5)), url('/imagem/wallpaper.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
}

.banner-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .logo-fifa-word-cup {
    width: 350px;
    height: 420px;
}

/*estilo do <h1>GRUPOS</h1>*/
.grupos {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grupos:hover{
    color: #8D1B3D;
    cursor: pointer;
}

/*Estilo dos cards*/
.container-global-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.cards {
    margin-top: 30px;
    width: 384px;
    height: 428px;
    padding: 10px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    background-color: #F4F4F4;
    border-radius: 8px;
  }
  
.title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 30px;
    font-weight: bold;
  }
  
.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 10px;
  }
  
.image-container img {
    width: 80px; 
    height: 60px;
  }
  
.image-container .caption {
    margin-left: 30px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

.image-container .caption:hover {
    color: #8D1B3D;
}

/*estilo do icone de navegação para direita e esquerda*/

.icone-navegacao {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

.icone-navegacao img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}


/*estilo da frase proximos-jogos */

.proximos-jogos{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proximos-jogos:hover{
    color: #8D1B3D;
    cursor: pointer;
}

/*estilo do container-cards-proximo-jogos*/
.container-cards-proximo-jogos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    gap: 20px;
    
}

.container-cards-proximo-jogos .cards-proximo-jogos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid #ccc;
    background-color: #F4F4F4;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
}
.cards-proximo-jogos {
    display: flex;
    justify-content: center;
}

.cards-proximo-jogos div {
    display: flex;
    align-items: center;
}
.cards-proximo-jogos IMG {
    width: 80px;
    height: 60px;
    width: 80px;
}


.hora-do-jogo {
    margin-right: 50px;
    font-size: 18px;
    color: #8D1B3D;
    font-weight: bold;
    text-align: center;
    width: 150px;
}

.lado-direito{
    margin-left: 100px;
    width: 200px;
    cursor: pointer;
}

.lado-esqeurdo{
    margin-right: 1px;
    width: 200px;
    cursor: pointer;
}

.ver-todos {
    margin-top: 40px;
    margin-bottom: 60px;
    cursor: pointer;
    color: #8D1B3D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 54px;
    border-radius: 5px;
    background-color: rgba(255, 242, 246, 1);
}

.ver-todos h3:hover {
    color: black;
}

/*estilo do footer*/ 
footer {
    background-color: #8D1B3D;
    width: 100%;
    height: 338px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer .cards-footer {
    width: 195px;
    height: 200px;
    display: inline;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: white;
    
}

.container-footer .cards-footer a {
    text-decoration: none;
    color: white;
    display: flex;
    margin-bottom: 20px;
    font-weight: 500;

}

.container-footer .cards-footer h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container-footer .cards-footer a:hover {
    color: black;
}



